.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
}

.pagination {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #ddd
}

.pagination li {
  border-right: 1px solid #ddd;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.pagination li a {
  padding: 11px 16px;
  cursor: pointer;
}

.pagination li.active a {
  color: #fff;
}

.pagination li.active {
  background: #1C7CD5;
}

.pagination li:last-of-type {
  border: 0
}
